.width30{
  width: 30%;
}
.marginLeft14{
  margin-left: 14%
}
.marginLeft35{
  margin-left: 35%
}
.marginLeft2{
  margin-left: 2%
}
.detailsAlign{
  margin-left: 36%
}
.editStyle{
  width: 12%;
  margin-left: 12%
}